body{
    margin: 0;
}
.navbar_container {
    width: 85%;
    margin: 0 auto;
}

.navbar_items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_tab {
    font-size:1rem;
    font-weight:bold;
    padding: .5rem 2.5rem .5rem 2.5rem;
    
    align-self: center;
    text-align: center;
}
.nav_tab:hover{
    font-size: 1.15rem;
    color: orangered;
}
.all_tabs a {
    list-style-type:none;
    text-decoration: none;
    font-family:sans-serif;
    color: gray;
}
.btn {
    color: white;
    background-color: orangered;
    padding: .75rem 1.5rem .75rem 1.5rem;
    border-radius: 1.5rem;
    border: none;
    font-size: .75rem;
    cursor: pointer;
}
.input_field_style{
    color: white;
    background-color: rgb(253, 252, 251);
    padding: .75rem 1.5rem .75rem 1.5rem;
    border-radius: 1.5rem;
    border: none;
}
#email{
    width: 20rem;
}
#sign_up_btn{
    position:relative;
    right: 3rem;
}
@media only screen and (max-width: 700px){
    .form_field{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .form_field button {
        margin: 1rem;
    }
    #sign_up_btn{
        position:static;
        right: 0rem;
    }
}
.top_banner {
    display: flex;
    align-items: center;
    padding: 7rem 0 7rem 0;  
}
.topBanner_left{
    width: 50%;
    padding: 1rem 0 1rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: stretch;
    position: relative;
    min-height: 25rem;

}
.topBanner_right{
    width: 50%;
    animation-name:slide;
    animation-duration: 1s;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.topBanner_right img{
    width: 130%;
    
    
}
.prime_text {
    font-size: 2.8rem;
    font-family:sans-serif;
    margin: 0 0 -.7rem 0;
}

@media only screen and (max-width: 700px){
    .top_banner{
        display: flex;
        flex-direction: column;
        padding: 2rem 0 2rem 0;
    }
    
    .topBanner_left{
        width: 100%;
        padding: 1rem 0 1rem 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        align-content:center;
    }
    .topBanner_left h1{
        text-align: center;
    }
    .topBanner_right{
        width: 100%;
    }
}

.top_bg {
    background-image: url('../Assets/banner_background.png');
    background-repeat: no-repeat; 
    background-position: center;
    background-size: cover;
    width: auto;
    height: auto;
}

.second_text{
    font-size: 1.6rem;
    font-family:sans-serif;
    text-align: center;
    margin:  -.7rem  0 -.7rem 0;
}
.second_text_left{
    font-size: 1.6rem;
    font-family:sans-serif;
}
.regular_text {
    color: gray;
    font-family: sans-serif;
    font-size: .8rem;
}
.regular_text_footer {
    color: gray;
    font-family: sans-serif;
    font-size: .8rem;
    text-align: center;
    margin: 4rem 0 1rem 0;
}
.regular_text_large{
    color: gray;
    font-family: sans-serif;
    font-size: 1rem;
}
.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about_container{
    margin: 0 auto;
    width: 70%;
    padding: 3rem 0 3rem 0;
}
@media only screen and (max-width: 700px){
    .about_container{
        margin: 0 auto;
        width: 90%;
        padding: 1.5rem 0 1.5rem 0;
    }
}
.about_img{
    padding: 1.5rem 2rem 1.5rem 2rem;
    width:80%;
    height: auto;
    
}
@media only screen and (max-width: 700px){
    .about_img{
        padding: 1rem 0 1rem 0rem;
        width:100%;
        height: auto;
    }   
}
.about_sm_animation {
    display: flex;
    align-items: center;
    justify-content: center;
}
.dynamic_data_load{
    display: flex;
    justify-content: space-between;
    padding: 2rem 0 2rem 0;
}
@media only screen and (max-width: 700px){
    .dynamic_data_load{
        display: flex;
        flex-direction: column;
    }
}


.ani_img_size{
    width: 5rem;
    height: auto;
}

.cap_text{
    font-size: 1rem;
    color:orangered;
    font-family: monospace;
}
.cap_text_gray{
    font-size: 1rem;
    color:gray;
    font-family: monospace;
}
.neg_mar{
    margin: -.25rem 0 -.25rem 0;
}
.seventy_container{
    margin: 0 auto;
    width: 70%;
    padding: 2rem 0 2rem 0;
}
@media only screen and (max-width:700px){
    .seventy_container{
        margin: 0 auto;
        width: 90%;
        padding: 1rem 0 1rem 0;
    }
}
.ser_intro_1 {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-end;
    align-items: center;
}
@media only screen and (max-width:700px){
    .ser_intro_1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
.ser_intro_2 {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-end;
    align-items: center;
    padding: 3rem;
}
/* #ser_cards{
    display: none;
} */
.card{
    padding: 2rem;
    display:flex;
    flex-flow: column wrap;
    justify-content:center;
    align-items: center;   
}

.fade_animation{
    animation-name:fadeIn;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-delay: calc(var(--animation-order)*40ms);
    animation-fill-mode: both;
    animation-timing-function: ease-in-out; 
}

.card:hover{
    box-shadow: 0 2rem 2rem 0 rgba(128, 128, 128, 0.411);
    border-radius: 1rem;
}
.card_btn_1{
    padding: .45rem;
    font-size: .7rem;
    border-radius: .7rem;
    margin: 0 .5rem 0 0;
    background-color:orangered;
    color: white;
    border: none;
}
.card_item{
    display:flex;
    align-items: center;
    justify-content: center;
}
.card_btn {
    color: gray;
    background-color: rgb(243, 242, 241);
    padding: .75rem 1.5rem .75rem 1.5rem;
    border-radius: 1.5rem;
    border: none;
    font-size: .75rem;
    cursor: pointer;
} 
.card_btn:hover{
    background-color: orangered;
    color: whitesmoke;
}
.card ul {
    padding: 1.5rem;
}
.card ul li{
    list-style: none;
    text-align: center;
    padding: .5rem;
    font-family: sans-serif;
    color: gray;
    font-size: .7rem;
}
.ser_intro_cards{
    display: flex;
    flex-flow: row wrap;
    justify-content: center; 
}

.ser_logo {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    padding: 3rem;
}
@media only screen and (max-width: 700px){
    .ser_logo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
    }
    .ser_logo img{
        padding: .5rem;
    }
}

.bl_cards{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}
@media only screen and (max-width: 700px){
    .bl_cards{
        display: flex;
        flex-direction: column;
        
    }  
    
}

.sg_bl_crd {
    /* width: 29%; */
    padding: 1rem;
}
.bl_crd_img{
    width : 100%;
    height: auto;
}
.bl_crd_text{
    padding: 0 0 0 1rem;
}
.bloggers_info{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contact_info {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;   
}
@media only screen and (max-width: 700px) {
    .contact_info {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;   
    }
}
    
.sg_info {
    display: flex;
    align-items: center;
}
.contact_icon_div{
    margin: 0 1rem 0 1rem;
    border: 1px solid rgb(93, 88, 88);
    background-color: rgb(93, 88, 88);
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon{
    color: white;
}
.icon_2{
    width: 40px;
    height: auto;
}
.form_intro {
    display: flex;
    align-items: center;

}
.contact_form {
    display: flex;
    flex-direction: column;
    padding: 1rem 0 1rem 0 ;
}
.form {
    display: flex;
    flex-flow:column  wrap;
    padding: 1rem 0 1rem 0;
}
.form_input_two{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    
}
.form_padding{
    padding: 1rem 0 1rem 0;
}
.form_input{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 0 1rem 0 0;
}

.contact_form_style {
    display: inline-block;
    border: 1px solid 1px gray;
    padding: .5rem;
}
.form_btn {
    color: white;
    background-color: orangered;
    padding: .75rem 1.5rem .75rem 1.5rem;
    border-radius: .25rem;
    border: none;
    font-size: .75rem;
    cursor: pointer;
}
.textarea {
    min-height: 20vh;
}
.footer_icon {
    display: flex;
    justify-content:space-between;
}
.footer {
    display: flex;
    
    justify-content:space-between;
}
.footer_part{
    width: 22%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;   
}
@media only screen and  (max-width: 700px) {
    .footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer_part {
        width: 100%;
        text-align: justify;
    }
}



.footer_bg{
    background-image: url('../Assets/banner_background.png');
    background-repeat: no-repeat; 
    background-position: center;
    background-size: cover;
    width: auto;
    height: auto;
}
.seventy_container_footer{
    margin: 0 auto;
    width: 70%;
    padding: 2rem 0 .5rem 0;
}
@media only screen and (max-width: 700px){
    .seventy_container_footer{
        margin: 0 auto;
        width: 90%;
        padding: 1.5rem 0 .25rem 0;
    }
}

.footer_i{
    color: gray;
}


#responsive_navbar{
    display: none;
}

@media only screen and (max-width: 700px){
    #desktop_navbar{
        display: none;
    }
    #responsive_navbar{
        display: block;
    }
    .menu_list{
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100vh;
        background: orange;
        color: whitesmoke;
        transform: translateY(-100%);
        transition: transform 0.2s;
        list-style: none;
        padding-top: 5rem;
    }
    .menu_list a{
        text-decoration: none;
        color: whitesmoke;
        cursor: pointer;
        
    }
    
    .menu_list li{
        padding: 2rem;
    }
    #responsive_navbar{
        display: flex;
        justify-content: space-around;
    }
    .x_icon{
        display: none;
    }
    .show_res_menu{
        transform: translateY(0)
    }

    .nav_tab_res img{
        position: fixed;
        top: 1rem;
        left: 1rem;
    }
    .ham_btn{
        position: fixed;
        z-index: 100;
        top: 1rem;
        right: 1rem;
        width: 2rem;
        height: 2rem;
        border : 1px solid orangered;
        border-radius: 3px;
        cursor: pointer;
        background: white;
        background-color: orange;
    }
}

@keyframes slide {
    from {transform: translateX(100%)}
    to {transform: translateX(0)}
}

@keyframes fadeIn {
    from { opacity: 0;
        transform: translateY(8rem);}
    to {opacity: 1}
}